<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Home</a></li>
        <li><a ng-href="#breakfast">Breakfast</a></li>
        <li><a ng-href="#lunch">Lunch</a></li>
        <li class="active"><a ng-href="#dinner">Dinner</a></li>
        <li><a ng-href="#dessert">Dessert</a></li>
    </ul>
    <h3 class="text-muted">Bistro HHW</h3>
</div>

<div class="jumbotron">
    <h1>Dinner</h1>
    <img width="100%" src="../images/pasta-a.jpg"/>
</div>

<div class="footer">
    <p>♥ Say nice things about the chef!</p>
</div>